@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dancing+Script:wght@700&family=Kalam:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;

} 

body{
    background-color: #36454F;
    overflow-x: hidden;
}

#header{
    /*background-image: url(./img/pexels-scott-webb-3255761.jpg);*/
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
}

#navcontainer{
    padding: 10px 10%;
}

#brandlogo{
    margin: 10px;
    width: auto;
    height: 100px;
}

#name{
    color: #F9F6EE;
    font-size: 30px;
    position: relative;
    text-decoration: none;
    font-size: 40px;
}

#navbarlinks{
    color: #F9F6EE;
    font-size: 30px;
    position: relative;
    text-decoration: none;
}

#navtable{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #913831;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

#name::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #913831;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

#name:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 10px;
    color: #F9F6EE;
}

.header-text p{
    color: #EDEADE;
}
/* end of navbar css*/

#about{
    padding: 50px 50px;
    background: white;
    height: 100vh;
    width: 100vw;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutmeimg{
    width: 80%;
    border-radius: 20px;
}
.about-col-1{
    flex-basis: 25%;
}
.about-col-2{
    flex-basis: 75%;
}

.about-title{
    font-size: 60px;
    font-weight: 600;
    color: #36454F;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #913831;
    position: absolute;
    left: 0;    
    bottom: -8px;
    transition: 0.5s;
}

.about-content{
    font-size: 25px;
}

.about-content span{
    color: #913831;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 20px;
}

.tab-contents ul li span{
    color: #913831;
    font-size: 25px;
}

.tab-titles p span{
    color: #913831;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

#services h1{
    color: #F9F6EE;
}
/*end of about css*/

#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-top: 50px;
    
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #36454F;
    text-align: center;
}

.services-list div{
        background-color: #262626;
        padding: 40px;
        font-size: 13px;
        font-weight: 300;
        border-radius: 10px;
        border-right: 10px;
        color: #F9F6EE;
        margin-left: 50px;
        margin-right: 50px;
        transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    color: #F9F6EE;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #F9F6EE;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
}
/*end of service*/

#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
}

.layer p{
    font-weight: 500;
    color: white;
}

#portfolio h1{
    color: #F9F6EE;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.btn:hover{
    background-color: #ff004f;
}