  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&family=Phudu:wght@300&family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body{
    background-color: white;
}

#header{
    background-image: url(https://ik.imagekit.io/theartling/prod/original_images/Sarah_Lee_Gesturebation.jpg?tr=w-1650);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
}

#navbarlinks{
    color: black;
    font-size: x-large;
}

#navbarlinks:hover{
    background-color: pink;
}

#navtable{
    justify-content: center;
    align-items: center;
}

#Name{
    display: flex;
    align-items: left;
    color: black;
    font-size: xx-large;
}
